<Configuration status="info">
    <Properties>
        <Property name="version">DEV</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{HH:mm:ss} - %msg%throwable%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>